#footer
{
  position: relative;
	width:100%;
	bottom:0;
  z-index: 2000;
  height:100%;
  background-color:#021B38;
  padding-top: 10px;

}

.footer-copyright{
  padding: 0 !important;
}
.cotxt{
  margin:0;
}
.icon {
    width: 60px;
    transition:   all .3s;  
    padding-left: 25px;
}
@media only screen and (max-width: 480px){
  .icon{
    width:  50px;
  }
}
.roww{
  display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width:100%;
}

.icon{

}

@media screen and (max-width: 768px){
	  footer{
    display: hidden;
}


}