@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600');
::-webkit-scrollbar {
    width: 12px;
}
 

@font-face{
	font-family: 'iphone';
	src:url('../fonts/san/System San Francisco Display Regular.ttf');
}



::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
body, html, p, div, span{
	font-family: 'Raleway' , sans-serif;
	font-weight: 500;
}

h1, h2, h3, h4, h5,h6{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.body
{
	text-align: justify;
}
.hidden{
	opacity: 0;
}
.svg-logo,.brand-logo{
	transition: all .3s;
}
.iframes{
	width: 100%;
	height: 100%;
}

.mainimage{
	position: relative;
}
.videos{
	box-shadow: none !important;
}
.rns-head{
	font-family: 'Raleway', sans-serif;

}
.iframes{
	width: 100%;
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.22);
	height: 100%;
}
.hero{
	position: absolute;
	height: 100%;
	width: 100%;
}
.footer-copyright{
	padding: 0;
	margin: 0;
}
.lool{
	margin-bottom: 0;
}
.event-head{
	box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5px;
	font-size: 1.9em;

}
.events-scroll{
	height: 100%;
	overflow-y: scroll;
}
.nightback{
  background-image: url('../images/night1.jpg');
  transition: background-position .4s;
  height: 75vh;
  width: 100%;
  transition: all 1s;
  position: absolute;
  top:0;
  background-size: cover;
  z-index:-1;
  filter: brightness(1);
  background-repeat: no-repeat;
}
.flexed{
	display: flex;
	justify-content: space-between	;
	height: 	60vh;
	margin-bottom: 	40px;
}
.up-events{
	position: relative;
	
	height: 	60vh;
	
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.22);
	margin-bottom: 	40px;
}
.up-events-slide{
	height: 100%;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
}
.container-custom{
	width: 	90%;
	margin-left: 	auto;	
	margin-right: 	auto;
}
#about{
	margin-bottom: 	20px;
}

.events{
	width: 35%;
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.22);
}
.camp-video{
	width: 60%;
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.22);
}

.maincont{
	text-align: center;
	color:white;
	height:85vh;
	padding-top: 50px;
}
.cont{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	width:100vw;

}
.con-flex{
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.22);
	height:40vh;
	width:44%;
	margin-bottom: 40px;
}
.navin{
	background:rgba(2, 27, 56, 0 ) !important;
}

.video{
	height:auto;
}
@media only screen and (max-width: 480px){

	.con-flex{
		width: 92% !important;
	}
	.nightback{
		height:50vh;

	}
	.maincont{
		height:50vh;
	}
	

}
.event-a{
	flex-shrink: 0;
	padding-top: 0;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	transition: transform 1s ease-out;
}
.events{
	position: relative;
	overflow-y: hidden;
}
@media only screen and (max-width: 768px){

	.con-flex{
		width: 92% !important;
	}
}


.upcoming-event{
	position: relative;
	height: 100%;
	/*top: -12px;*/
}
.changers{
	width: 100%;
	position: absolute;
	bottom: 5px;
	justify-content: space-around;
	display: flex;
	flex-direction: row;
}
.changers a{
	background-color: #555;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}
.active-eve-a{
	background: #fff !important;
}
.text-slide{
	position: absolute;
	color: white;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.event-background{
	background-image: url(../images/night1.jpg);
	background-size: cover;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
}
.news{
	overflow-y: hidden;
}
.newscards{
	width: 100%;
	color: black;
/*		border-top-width: 1px;
	border-top-color: #888;
	border-top-style: solid;*/
	border-bottom-width: 1px;
	border-bottom-color: #888;
	border-bottom-style: solid;
	/*animation: newsscroll 30s infinite;*/
}

@keyframes newsscroll{

	0%{
		transform:translate(0,-50%);
	}
	25%{
		transform:translate(0,-100%);
	}
	50%{
		transform:translate(0,-150%);
	}
	75%{
		transform:translate(0,-200%);
	}
	100%{
		transform:translate(0,-250%);
	}
}

