nav{
  background-color: #021B38 !important;
}
h2{
	color: #00838f ;
	font-family:  'Open Sans', sans-serif;
	font-weight: 600;
}
.card-action{
	padding: 0px !important;
}
.date{
	font-size: 0.7em !important;
}
@media screen and (max-width: 600px)
{
	.date{
	font-size: 0.5em !important;
		 }
}